.App {
  position: relative;
  width: 100%;
  height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 500px;
  height: 300px;
  border: 1px solid black;
}

.header {
  background-color: grey;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto; 
  /* gap: 10px; */
}

.buttons {
  position: absolute;
  bottom: 0;
}

.schedule {
  display: flex;
}